.container {
  margin: 0 auto;
  border: none;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    border: 1px solid white;
}
.titulo h1 {
  margin: 1rem;
  font-size: 230%;
  border: none;
}

.form-container {
  height: 70vh;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0px solid white;
  border-radius: 2rem 2rem;
  background-color: rgb(23, 23, 23);
  padding: 1rem;
  margin: 0.5rem;
  width: 83%;
  max-width: 150%;
}
.buttons {
  width: 80%;
  height: 5vh;
  margin: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 0px solid white;
}
.buttons button{
    width: 40%;
    border: none;
    height: 5.5vh;
    border-radius: 2rem 2rem;
}
.form-container input {
  width: 90%;
  color: white;
  border: none;
  outline: none;
  background-color: black;
  font-size: 1rem;
  margin: -0.2rem;
  margin-left: -0.5rem;
  padding: 0.99rem;
  border-radius: 1rem 1rem;
}
.form-container input::placeholder {
  color: white;
}
.imagem {
  width: 120%;
  margin-top: -3.5rem;
  border: 0px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagem img {
  border-radius: 2rem 2rem 2rem 2rem;
  height: 20vh;
  width: 60%;
  margin: 1rem;
}
.imagem input[type="file"] {
  display: none;
}
#add-imagem {
  border: 2px solid white;
  padding: 1rem;
  border-radius: 50%;
  width: 2rem;
  height: 5vh;
  background-image: url(./camera-fotografica.png);
  background-size: cover;
  background-repeat: no-repeat;
}

